####################################
# Build & Output
####################################
target/
out/
build/

####################################
# IDE / Editor
####################################
# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

####################################
# OS / System files
####################################
.DS_Store
Thumbs.db

####################################
# Logs
####################################
*.log
logs/

####################################
# Persistence / RocksDB data
####################################
data/
*.db
*.db-journal
*.lck

####################################
# Java
####################################
*.class

####################################
# Temporary files
####################################
*.tmp
*.swp
*.bak
